.registerForm {
  padding: 15px 30px;
  .input-item-wrap {
    padding: 8px;
    position: relative;
    font-size: 13px;
    // 性别select组件
    ion-select {
      background-color: #f5f5f9;
      text-indent: 22px;
      position: relative;
      &::part(placeholder) {
        color: #ccc;
        opacity: 1;
      }
      &.error {
        background-color: rgba(235, 68, 90, 0.65);
      }
    }
    // 左边的icon
    .left-icon {
      position: absolute;
      left: 20px;
      top: 21px;
      width: 14px;
      height: 14px;
      fill: #999;
    }
    .input-item {
      height: 40px;
      border: none;
      background-color: #f5f5f9;
      width: 100%;
      text-indent: 36px;

      &::placeholder {
        color: #ccc;
      }
      &.error {
        background-color: rgba(235, 68, 90, 0.65);
      }
    }
    ion-button {
      margin-top: 16px;
      &::part(native) {
        border-radius: 4px;
      }
    }
  }
}
