@font-face {
  font-family: "iconfont"; /* Project id 2554694 */
  src: url('iconfont.woff2?t=1624331116499') format('woff2'),
       url('iconfont.woff?t=1624331116499') format('woff'),
       url('iconfont.ttf?t=1624331116499') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuzhi-app:before {
  content: "\e616";
}

.icon-xingbie-app:before {
  content: "\e615";
}

.icon-shouji-app:before {
  content: "\e617";
}

.icon-caozuo-jinghaoku:before {
  content: "\e613";
}

.icon-gerenzhongxin:before {
  content: "\e614";
}

.icon-zhaunfa:before {
  content: "\e612";
}

.icon-guankong:before {
  content: "\e60e";
}

.icon-falv:before {
  content: "\e60f";
}

.icon-jingqing:before {
  content: "\e610";
}

.icon-tongzhi:before {
  content: "\e611";
}

.icon-jingqingyanpanbeifen:before {
  content: "\e608";
}

.icon-zhanghaoshenhe:before {
  content: "\e609";
}

.icon-tongzhigonggao:before {
  content: "\e60a";
}

.icon-geren:before {
  content: "\e60b";
}

.icon-top-zhongdianguankong:before {
  content: "\e60c";
}

.icon-falvgonggao:before {
  content: "\e60d";
}

